.article-det {
  margin: 1rem;
}

.article-det__img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.article-det__buttons {
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
}

.article-det__button {
  border-radius: 0.75rem;
  width: 10rem;
  height: 3rem;
  border: none;
  margin: 0 1rem;
  transition: 0.2s ease-in-out;
}

.article-det__button:hover {
  transform: translateY(-0.5rem);
}

.__go-back {
  color: var(--black);
  background-color: transparent;
}

.__read-on-nyt {
  color: white;
  background-color: var(--black);
}